.title{
    text-align: center;
}

.mew-form, .loading{
    width: 50%;
    margin: 0 auto;
}

.loading{
    text-align: center;
}

.mews {
    width: 50%;
    margin: 0 auto;
}

.mew{
    background-color:ghostwhite;
    margin: 2% auto;
    padding: 2%;
}